@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');
/* arabic font */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
/* navbar font */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@500&display=swap');
/* formulaire font */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@500&display=swap');
html{
    scroll-behavior: smooth;
}
header{
   background-color: #010F20;
   display:flex;
   align-items: center;
   padding: 9px 80px;
   justify-content: space-between;
   box-shadow: 0 5px 15px rgba(22, 201, 141, 0.107);
   position: sticky;
   top: 0;
   left: 0;
   z-index: 10;
   
}
.logo img{
    width: 58px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar li{
    list-style: none;
    padding: 0 60px;
    /* position:relative; */
    justify-content: space-between;
}
.nav-linkS{
    padding-right: 0;
    margin-right: 0%;
}
.navbar li a{
    font-size:1.15rem;
    color: aliceblue;
    text-decoration: none;
    font-family: "Rubik", sans-serif;
    font-weight:500;
    transition: all 0.3s ease;
    /* display: flex; */
}
.navbar li a:hover{
    color: #51e1ba;
    border-bottom: 2px solid #3e8f78;
    transition: 0.5s;
}
/* .drop{
    display: inline-block;
    width: 140px;
    height: 100px;
    position:absolute;
}
.drop-down{
    position: absolute;
    padding: 0.1rem;
    margin:0.2rem;
    background:#010F20 ;
    color: white;
    font-size: 14px;
    border-radius: 0.5rem;
    /* display: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.669);
} */
/* .drop-down li{
    font-weight: 300;
    font-family: "Rubik", sans-serif;
    margin: 0rem;
    border-bottom: #06261d 1px solid;
    padding: 0.8rem;
}
.drop-down li:hover{
    background:#041830 ;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.669);
    border-bottom: #041830 1px solid;
}    */ */

.nav-linkS:hover .drop{
    margin-right: 49px;
    margin-top: 28px;
    display: block;

}
.hero-section  {
    background-image: url('home-img2.png');
    background-size:cover;
    background-position: center;
    height: 530px;
    background-attachment:scroll;
    margin: 0;
    font-family: Arial, sans-serif;
    border-bottom:2px solid black;
}
.img1{
 position: relative;
display:inline;
}
.img1 img{
    height: 230px;
    margin-top:125px;
    margin-left: 650px;
} 
body{
    margin: 0px;
}
.img2{
    display:inline-block;
    position: relative;
    opacity: 0.89;
}
.img2 img{
    height: 330px;  
    margin-top:-269px;
    margin-bottom:20px;
    margin-left: 40px;
}
.info{
    display: inline;
    position: relative;
}
.info h2{
    color: aliceblue;
    margin-top:-290px;
    margin-bottom:40px;
    margin-left: 100px;
    font-size:34px;
    text-shadow:5px 14px 10px #010F20;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.info h3{
    color: #00FDF2;
    text-shadow:9px 14px 10px #010F20;
    margin-top:-40px;
    margin-bottom:60px;
    margin-left: 157px;
    font-size:20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.info .spn{
    margin-left: 140px;
}
.info .spn2{
    margin-left: 40px;
}
/* ++++++++++++++++++++++++++aboutus */
.benifits{
    margin-top:-25px;
    background-color:#ffffff;
    height: 504px;
}
.benifits h1{
    font-size: 25px;
    text-align: center;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #050A30;
    display:block;
    padding-top: 15px;
    margin-bottom:-55px ;
}
.benifits .img1 img{
    position:absolute;
    display: inline-block;
    height: 500px;
    width: 590px;
    margin-left: 0px;
    padding: 0%;
    margin-right: 100px;
    margin-bottom: 10px;
    margin-top: 0px;
    box-shadow: 0 5px 25px rgb(13, 36, 86);
}
.abtus{
    position: relative;
    align-items: center;
    display: inline-block;
    background-color: #dbdde4;
    height: 400px;
    width: 600PX;
    margin-right: 110px;
    border-radius: 30px;
    margin-left: 500px;
    margin-top: 50px;
}
.benifits i{
    margin-right:20px;
      color:#50a18c;
      width: 10px;
      font-size: 25px;
    }
.abtus  .aboutUs  {
    font-weight: 400;
    align-items: center;
    justify-content: center;
    display: block;
    direction: rtl;
    text-align: right;
    margin-right: 20px;
    font-family: "Cairo", sans-serif;
    margin-top: 80px;
    font-size: 19Px;
    color:#124536;
}
.abtus  .aboutUs .arb a{
    color: #3e8f78;
    text-decoration: none;
    border-bottom: #50a18b8c 2px solid;
    font-weight: 600;
}
.abtus  .aboutUs .arb a:hover{
    color: #50a18c;
    text-decoration: none;
    border-bottom: #45927c 2px solid;
    font-weight: 600;
}
.abtus  .aboutUs .eng{
    font-family: "Raleway", sans-serif;
    color: #17273a;
    font-weight: 500;
    direction: ltr;
    text-align: left;
}
.abtus  .aboutUs .eng a{
    font-family: "Raleway", sans-serif;
    outline: none;
    color: #3e8f78;
    text-decoration: none;
    border-bottom:  #50a18b9e 2px solid;
    font-weight: 600;
}
.abtus  .aboutUs .eng a:hover{
    border-bottom:#45927c 2px solid ;
    cursor: pointer;
    color: #50a18c;

}
/* ++++++++++++++++SERVICE+++++++++++++++++++ */
.service{
    margin-top: -29px;
    height: 524px;
    background-color:#1b2a3a;
    align-items: center;
    justify-content: center;
}
.service h1{
    font-size: 30px;
    text-align: center;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    color:#dbdde4;
    display:block;
    padding-top: 40px;
}
.service h1 i{
    font-variation-settings:
    'FILL' 1,
    'wght' 500,
    'GRAD' 4,
    'opsz' 1 ;
    color:#50a18c;
     font-size:27px;
     display: inline-block; 
     margin-right: 5px;
  }
  /* ===================animated card=========================== */
  .container{
    display: flex;
  }
  .card{
    margin:50px; 
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
    border-radius: 12px;
    
  }
.card img{
    height: 300px;
    border-radius: 3px;
  }
  .intro{
    border-radius: 12px;
    height: 150px;
    visibility:hidden;
    width: 204px;
    font-weight: 350px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    bottom: -952px;
    background: rgba(27, 27, 27, 0.696);
    color: white;
    transition: 0.1s;
    box-shadow: #000000 5px 5px 15px;
  }
.intro h1{
    margin: 10px;
    font-size: 30px;
    text-shadow: #010F20 5px 5px 5px;
}
.intro .syber{
    margin: 10px;
    font-size: 23px;
}
.intro p{
    text-shadow: #000000 5px 5px 5px;
    color: #3e8f78;
    font-size: 20px;
    margin: 20px;
    visibility:visible;
    opacity: 0;
}
.intro p a{
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: #3e8f78;
    border-bottom: #44ad8f71 2px solid;
    font-family: "Raleway", sans-serif;
}
.intro p a:hover{
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: #44ad90;
    border-bottom: #6de7c5 2px solid;
    font-family: "Raleway", sans-serif;
}
.card:hover{
    cursor: pointer;
    box-shadow: 6px 5px 20px #174c607a;
}
.card:hover .intro{
    visibility: visible;
    height:170px;
    bottom: -952px;
    transition: 0.5s;
    border-radius:12px ;
    background: #0411259f;
}
.card:hover p{
    opacity: 1;
    visibility: visible;
}
.card:hover img{
    transform: scale(1.1) rotate(0deg);
} 
/* ======================contact us================= */
.ContactUs{
    margin-top: -25px;
    height: 570px;
    background: #dbdee8;
}
.ContactUs h1{
    font-size: 30px;
    text-align: center;
    justify-content: center;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    color: #050A30;
    display:block;
    padding-top: 55px;
    margin-bottom:-55px ;
}
.material-symbols-outlined{
    font-variation-settings:
    'FILL' 1,
    'wght' 500,
    'GRAD' 4,
    'opsz' 1 ;
    color:#50a18c;
     font-size:27px;
     display: inline-block; 
     margin-right: 5px;
}
.ContactUs img{
    position:absolute;
    height: 300px;
    weight:100px ;
    margin-left:-320px;
    box-shadow: 5px 5px 20px black;
    margin-top: 120px;
    border: 2px solid #2e4f4f;
    border-radius: 50%;
}
.boxform {
    top: 295%;
    left: 5%;
    border-radius: 30px;
    align-items: center;
    text-align: center;
    background-color: #dbdde4;
    position: absolute;
    font-family: "Open Sans", sans-serif;
    box-shadow: 5px 5px 20px black;
}
form{
    background-color:white;
    padding: 20px;
    border-radius: 30px;
    border: 2px solid #50a18c;
}
.deco{
    display: inline-block;
    box-shadow: 5px 5px 20px black;
    background-color: #2e4f4f;
    margin-left: 840px;
    margin-top: -39px;
    width: 230px;
    height:567px ;
    position: relative;
}
.boxform form h1{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 0%;
    display:inline-block;
}
.boxform form .separation{
    height: 2px;
    background-color: #50a18c;
}
.boxform form .body-form{
    display: flex;
    flex-wrap:wrap;
    margin-bottom: 30px;
}
.boxform form .body-form .box{
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction:column;
}
.boxform form .body-form .left .box input{
    margin-top: 5px;
    padding: 10px 5px 10px 30px;
    border: 1px solid #c9c9c9;
    outline-color:#50a18c;
    border-radius: 5px;
}
.boxform form .body-form .left .box i{
    position: absolute;
    left: 0;
    top: 28px;
    padding: 9px 8px;
    color: #50a18c;
}
.boxform form .body-form .right{
    margin-left: 40px;
}
/* pour taille mobile tabllet */
@media screen and (max-width:920px){
    .boxform form .body-form .right{
        margin-left: 0px;
    }
}
/* ============================ */
.boxform form .body-form .right .box{
    height: 100%;

} 
.boxform form .body-form .right .box textarea{
    margin-top: 5px;
    padding: 10px;
    background-color:#f8f8f8;
    border: 2px solid #50a18c;
    outline: none;
    border-radius: 5px;
    resize: none;
    height: 58%;

}
.boxform form .quee-form button { 
    margin-top: 10px;
    background-color: #50a18c;
    color: #f8f8f8;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s;
}
.boxform form .quee-form:hover{
    transform: scale(1.05);
}
/* =================footer===================== */
footer{
    margin-top: -25px;
    height: 100px;
    background-color: #18293d;
}
footer p{
    padding: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #dbdee8;
    font-size: 20px;
}
#button{
    display: inline-block;
    position: fixed;
    bottom: 30px;
    right:30px;
    transition: backround-color 0.3s;
    opacity: 1;
    opacity: 0.5s;
    visibility: 0.5s;
    z-index: 1000;
}
#button button {
    background-color: #c9c9c9;
    border-radius: 20px;
    color: #50a18c;
    font-size: 37px;
}
#button button:hover{
    cursor: pointer;
    color: #36826d;
}
