@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');
/* arabic font */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@500&display=swap');
/* navbar font */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@500&display=swap');
/* formulaire font */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@500&display=swap');
html{
    scroll-behavior: smooth;
}
header{
   background-color: #010F20;
   display:flex;
   align-items: center;
   padding: 9px 80px;
   justify-content: space-between;
   box-shadow: 0 5px 15px rgba(22, 201, 141, 0.107);
   position: sticky;
   top: 0;
   left: 0;
   z-index: 10;
   
}
.logo img{
    width: 58px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar li{
    list-style: none;
    padding: 0 70px;
    position:relative;
    justify-content: space-between;
}
.navbar li a{
    font-size:1.15rem;
    color: aliceblue;
    text-decoration: none;
    font-family: "Rubik", sans-serif;
    font-weight:400;
    transition: all 0.3s ease;
}
.navbar li a:hover{
    color: #50a18c;
}
.hero-section  {
    background-image: url('home-img2.png');
    background-size:cover;
    background-position: center;
    height: 509px;
    background-attachment:scroll;
    margin: 0;
    font-family: Arial, sans-serif;
    border-bottom:2px solid black;
}
.img1{
 position: relative;
display:inline;
}
.img1 img{
    height: 230px;
    margin-top:125px;
    margin-left: 650px;
} 
body{
    margin: 0px;
}
.img2{
    display:inline-block;
    position: relative;
    opacity: 0.89;
}
.img2 img{
    height: 330px;  
    margin-top:-269px;
    margin-bottom:20px;
    margin-left: 40px;
}
.info{
    display: inline;
    position: relative;
}
.info h2{
    color: aliceblue;
    margin-top:-290px;
    margin-bottom:40px;
    margin-left: 100px;
    font-size:34px;
    text-shadow:5px 14px 10px #010F20;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.info h3{
    color: #00FDF2;
    text-shadow:9px 14px 10px #010F20;
    margin-top:-40px;
    margin-bottom:60px;
    margin-left: 157px;
    font-size:20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.info .spn{
    margin-left: 140px;
}
.info .spn2{
    margin-left: 40px;
}
.benifits{
    margin-top:-25px;
    background-color:#dbdde4;
    height: 500px;
}
.benifits h1{
    font-size: 30px;
    text-align: center;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #050A30;
    display:block;
    padding-top: 55px;
    margin-bottom:-55px ;
}
.material-symbols-outlined{
  font-variation-settings:
  'FILL' 1,
  'wght' 900,
  'GRAD' 2,
  'opsz' 45;
  color:#50a18c;
  width: 30px;
  font-size: 70px;
}
.benifits i{
    margin-right:20px;
  color:#50a18c;
  width: 10px;
  font-size: 25px;
}

.benifits .img1 img{
    display: inline;
    height: 310px;
    margin-left: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: #050A30 solid;
    box-shadow: 0 5px 25px rgb(13, 36, 86);
}
.benifits .aboutUs{
    display: inline-block;
    margin-left: 150px;
    font-family: "Raleway", sans-serif;
    font-size: 32Px;
    color: #050A30;
}
/* ++++++++++++++++SERVICE+++++++++++++++++++ */
.service{
    margin-top: -29px;
    height: 524px;
    background-color:#2a425f;
    align-items: center;
    justify-content: center;
}
.service h1{
    font-size: 30px;
    text-align: center;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    color:#dbdde4;
    display:block;
    padding-top: 40px;
}
.service h1 i{
    font-variation-settings:
    'FILL' 1,
    'wght' 500,
    'GRAD' 4,
    'opsz' 1 ;
    color:#50a18c;
     font-size:27px;
     display: inline-block; 
     margin-right: 5px;
  }
  /* ===================animated card=========================== */
  .container{
    display: flex;
  }
  .card{
    margin:50px; 
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
    border-radius: 12px;
  }
  .card img{
    height: 300px;
    weight: 350px;
    border-radius: 3px;
  }
  .intro{
    height: 150px;
    visibility:hidden;
    width: 204px;
    font-weight: 350px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    bottom: -952px;
    background: rgb(27,27,27,0.5);
    color: white;
    transition: 0.1s;
  }
.intro h1{
    margin: 10px;
    font-size: 30px;
}
.intro .syber{
    margin: 10px;
    font-size: 23px;
}
.intro p{
    font-size: 20px;
    margin: 20px;
    visibility:visible;
    opacity: 0;
}
.card:hover{
    cursor: pointer;
}
.card:hover .intro{
    visibility: visible;
    height:170px;
    bottom: -952px;
    transition: 0.5s;
    /* background: rgba(0, 0, 0, 0.712); */
    background: #0411259f;
}
.card:hover p{
    opacity: 1;
    visibility: visible;
}
.card:hover img{
    transform: scale(1.1) rotate(0deg);
} 
/* ======================contact us================= */
.ContactUs{
    margin-top: -25px;
    height: 570px;
    background: #dbdee8;

}
.ContactUs h1{
    font-size: 30px;
    text-align: center;
    justify-content: center;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    color: #050A30;
    display:block;
    padding-top: 55px;
    margin-bottom:-55px ;
}
.ContactUs img{
    /* visibility: hidden; */
    height: 300px;
    weight:100px ;
    margin-left: 700px;
    margin-top: 120px;
    border-radius: 10px;
}
.boxform {
    top: 290%;
    left: 5%;
    align-items: center;
    text-align: center;
    background-color: #dbdde4;
    position: absolute;
    font-family: "Open Sans", sans-serif;
}
form{
    background-color:white;
    padding: 20px;
    border-radius: 10px;
}
.boxform form h1{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 0%;
    display:inline-block;
}
.boxform form .separation{
    height: 2px;
    background-color: #50a18c;
}
.boxform form .body-form{
    display: flex;
    flex-wrap:wrap;
    margin-bottom: 30px;
}
.boxform form .body-form .box{
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction:column;
}
.boxform form .body-form .left .box input{
    margin-top: 5px;
    padding: 10px 5px 10px 30px;
    border: 1px solid #c9c9c9;
    outline-color:#50a18c;
    border-radius: 5px;
}
.boxform form .body-form .left .box i{
    position: absolute;
    left: 0;
    top: 28px;
    padding: 9px 8px;
    color: #50a18c;
}
.boxform form .body-form .right{
    margin-left: 40px;
}
/* pour taille mobile tabllet */
@media screen and (max-width:920px){
    .boxform form .body-form .right{
        margin-left: 0px;
    }
}
/* ============================ */
.boxform form .body-form .right .box{
    height: 100%;

} 
.boxform form .body-form .right .box textarea{
    margin-top: 5px;
    padding: 10px;
    background-color:#f8f8f8;
    border: 2px solid #50a18c;
    outline: none;
    border-radius: 5px;
    resize: none;
    height: 58%;

}
.boxform form .quee-form button { 
    margin-top: 10px;
    background-color: #50a18c;
    color: #f8f8f8;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s;
}
.boxform form .quee-form:hover{
    transform: scale(1.05);
}
/* =================footer===================== */
footer{
    margin-top: -25px;
    height: 100px;
    background-color: #18293d;
}
footer p{
    padding: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #dbdee8;
    font-size: 20px;
}
#button{
    display: inline-block;
    position: fixed;
    bottom: 30px;
    right:30px;
    transition: backround-color 0.3s;
    opacity: 1;
    opacity: 0.5s;
    visibility: 0.5s;
    z-index: 1000;
}
#button button {
    background-color: #c9c9c9;
    border-radius: 20px;
    color: #50a18c;
    font-size: 37px;
}
#button button:hover{
    cursor: pointer;
    color: #36826d;
}
